@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply mb-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold
    mb-1;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-xl;
}
