if test -f ./.envrc.local; then
    source_env ./.envrc.local
fi

if command -v nix-shell &> /dev/null
then
    use_flake
fi

export CONTENTLAYER_TRACING="collector"
export CL_OTEL=1

# Put the following in `.envrc.local`
# export CONTENTFUL_ACCESS_TOKEN=""
