[submodule "examples/gatsby-docs/gatsby"]
	path = examples/gatsby-docs/gatsby
	url = https://github.com/gatsbyjs/gatsby.git
	
[submodule "examples/next-contentlayer-example"]
	path = examples/next-contentlayer-example
	url = git@github.com:contentlayerdev/next-contentlayer-example.git
