/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !/.yarn/cache
#/.pnp.*
node_modules
.next

dist*
out

.tmp*
/tmp

*.tsbuildinfo

.envrc.local
.direnv

.nyc_output

!tap-snapshots/dist/*

.contentlayer
.yarn/releases/yarn-3.1.1.cjs
.yarn/sdks/typescript/bin/tsc
.yarn/sdks/typescript/bin/tsserver
packages/contentlayer/README.md
packages/contentlayer/bin/cli.cjs
packages/contentlayer-stackbit-yaml-generator/bin/cli.cjs
examples/archive/playground-azimuth-sanity/copy-code.sh
examples/archive/playground-azimuth-contentful/copy-code.sh
.yarn/sdks/typescript/bin/tsserver
.yarn/sdks/typescript/bin/tsc
.yarn/releases/yarn-3.1.1.cjs
