[submodule "examples/gatsby-docs/gatsby"]
	path = examples/gatsby-docs/gatsby
	url = git@github.com:gatsbyjs/gatsby.git
	
[submodule "examples/mdx"]
	path = examples/mdx
	url = git@github.com:contentlayerdev/next-contentlayer-example.git
